.resource-page .search {
  position: relative;
}

.resource-page .search svg {
  position: absolute;
  right: 2%;
  height: 100%;
}

.resource-page .search input {
  width: 100%;
}

.resource-page .icons {
  display: flex;
  justify-content: flex-end;
}

.resource-page .icons svg {
  font-size: 1.5em;
}

.resource-page .active {
  color: indigo;
}

.resource-page .hidden {
  display: none;
}